<%= form_with(model: calculation) do |form| %>
  <% if calculation.errors.any? %>
    <div class="alert alert-danger" role="alert" id="error_explanation">
      <h5><%= pluralize(calculation.errors.count, "error") %> prohibited this calculation from being saved:</h5>

      <ul>
        <% calculation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :basic_pay %>
    <%= form.text_field :basic_pay, class: "form-control" %>
  </div>

  <br>
  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
