<p id="notice"><%= notice %></p>

<p>
  <strong>Basic pay:</strong>
  <%= @calculation.basic_pay %>
</p>

<p>
  <strong>Allowances:</strong>
  <%= @calculation.allowances %>
</p>

<p>
  <strong>Gross pay:</strong>
  <%= @calculation.gross_pay %>
</p>

<p>
  <strong>Taxable pay:</strong>
  <%= @calculation.taxable_pay %>
</p>

<p>
  <strong>Tax:</strong>
  <%= @calculation.tax %>
</p>

<p>
  <strong>Tax relief:</strong>
  <%= @calculation.tax_relief %>
</p>

<p>
  <strong>Paye:</strong>
  <%= @calculation.paye %>
</p>

<p>
  <strong>Nhif:</strong>
  <%= @calculation.nhif %>
</p>

<p>
  <strong>Nssf:</strong>
  <%= @calculation.nssf %>
</p>

<p>
  <strong>Net pay:</strong>
  <%= @calculation.net_pay %>
</p>

<%= link_to 'Edit', edit_calculation_path(@calculation) %> |
<%= link_to 'Back', calculations_path %>
